/* HIDE OVERFLOW CLASS */
.bodyOverflow {
  overflow: hidden;
}

.title {
  position: relative;
  color: white;
  font-family: 'Creepster', cursive;
}

progress {
  border: none;
  width: 400px;
  height: 60px;
  background: crimson;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: rgb(255, 255, 255);
}

/* MAIN SCREEN */
#main-screen {
  display: block;
}

/* TITLE */
#title {
  position: absolute;
  font-family: 'Creepster', cursive;
  top: 25%;
  left: 0;
  right: 0;
  font-size: 60px;
  text-align: center;
  color: white;
}

/* MAIN MENU  */
#mainMenu {
  height: 650px;
  width: 1410px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

/* MAIN MENU GHOST CSS */
#idle-ghost {
  position: absolute;
  bottom: 0;
  width: 480px;
  height: 400px;
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4);
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

#idle-ghost2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 480px;
  height: 400px;
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4);
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

/* END MAIN MENU GHOST CSS */

/* CLASS TO HIDE MAIN */
.hideMain {
  visibility: hidden;
}

/* MAIN MENU BUTTON CSS */
.btn2 {
  border: 1px solid #ffffff;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Work Sans";
  cursor: pointer;
  transition: 0.1s;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn2 {
  color: rgb(181, 181, 181);
}

.btn2:hover {
  color: rgb(0, 0, 0);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #b8b8b8;
  z-index: -1;
  transition: 0.8s;
  opacity: 50%;
}

.btn2::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn2:hover::before {
  height: 180%;
}

/* END BUTTON CSS */

/* GAME CONTAINER */
#game-container {
  bottom: 90;
}

/* END GAME CONTAINER */

/* CANVAS */
#canvas {
  background: grey;
  height: 600px;
  width: 800px;
}
